@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,700;0,800;1,300;1,500;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: var(--05, #fcfdfe);
  margin-bottom: 1rem;
}
.top {
  margin-top: 3.83rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.logo {
  margin-left: 4.17rem;
  width: 9.70833rem;
  height: 1.87492rem;
  background-size: cover;
}
.menu {
  margin-right: 4.25rem;
  width: 3.33333rem;
  height: 3.33333rem;
}
.container1 {
  height: auto;
  width: auto;
  margin-left: 8.46rem;
  margin-top: 5.21rem;
}
.tagline {
  color: var(--06, #e22f42);
  font-size: 0.96358rem;
  font-family: Open Sans;
  font-weight: 600;
  line-height: normal;
  display: flex;
}
.it {
  font-style: italic;
}
.st {
  font-style: normal;
  font-weight: 700;
}
.heading {
  height: max-content;
  width: 34.55133rem;
  color: var(--06, #172651);
  font-size: 2.62579rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  margin-top: 0.45rem;
}
.subheading {
  height: max-content;
  width: 41.91667rem;
  color: var(--06, #222631);
  font-size: 0.71229rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin-top: 0.58rem;
}
.generate {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.66667rem;
  margin-top: 2rem;
  width: 12.91667rem;
  height: 3.5rem;
  border-radius: 0.41667rem;
  border: #e22f42;
  background: var(--06, #e22f42);
  color: var(--05, #fcfdfe);
  font-size: 1.17838rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.gen {
  width: 0.90625rem;
  height: 0.90625rem;
}
.display {
  margin-top: 1.08rem;
  display: flex;
  align-items: center;
  width: 29.29167rem;
  height: 4.28208rem;
  border-radius: 0.52542rem;
  border: 3.152px solid #172651;
  background: rgba(34, 38, 49, 0.2);
}
.result {
  padding-left: 2.18rem;
  color: var(--06, #172651);
  font-size: 1.261rem;
  font-family: Open Sans;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.baby {
  width: 7.95833rem;
  height: 17.375rem;
  position: absolute;
  top: 27.2rem;
  left: 88rem;
}
